<h1>Animal</h1>

     <ul>
           <li><%= @animal.common_name %></li>
           <li><%= @animal.latin_name %></li>
           <li><%= @animal.kingdom %></li>
           </ul>
           
           